
/*
COLORS
DARK BLUE: #555B6E
MEDIUM BLUE: #89B0AE
LIGHT BLUE: #BEE3DB
WHITISH BLUE (BASE): #FAF9F9
PINK: #FFD6BA
*/

@font-face {
    font-family: Coolvetica;
    src: url(../resources/fonts/Coolvetica\ Rg.otf);
}

body{
    margin: 0px;
    background-color: #BEE3DB;
    font-family: 'Coolvetica';
}

a{
    text-decoration: none;
}

#container{
    width: 100%;
    height: 100vh;

}

header{
    height: 20%;
    background-image: linear-gradient(0deg, #BEE3DB 31%, #89B0AE 100%);
    border-bottom: 0.5vh solid #8f98b9;
}

header>h1{
    margin: 0 auto;
    padding-top: 3vh;
    text-align: center;
    color:#555B6E;
    font-size: 4vh;
}
header>nav{
    margin-top: 20px;
}
header>nav>ul{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}

header>nav>ul>a>li{
    font-size: 20px;
    color:#555B6E;
}

header>nav>ul>a{
    padding: 20px 100px;
}

header>nav>ul>a:hover{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #cdefed;
}

main{
    margin: 30px 15% 100px;
    padding-bottom: 100px;
    height: calc(100vh - 50px - 146px);
}

footer{
    width: 100%;
    height: 40px;
    background-color: #555B6E;
    position: fixed;
    bottom: 0;
    background-color: #555B6E;
    margin-top: 30px;
}