@font-face {
    font-family: Coolvetica;
    src: url(../resources/fonts/Coolvetica\ Rg.otf);
}

:root{
    --dark: #221d34;
    --pink: #90425c;
    --blue: #4c776d;
    --light: #e2ead3;
}


body{
    margin: 0px;
    background-color: var(--light);
    font-family: 'Coolvetica';
}

a{
    text-decoration: none;
}

#container{
    width: 100%;
    height: 100vh;
}

header{
    height: 20%;
    background-color: var(--light);
    border-bottom: 0.5vh solid var(--dark);
}

header>h1{
    margin: 0 auto;
    padding-top: 3vh;
    text-align: center;
    color:var(--dark);
    font-size: 4vh;
    cursor: pointer;
}
header>nav{
    margin-top: 20px;
}
header>nav>ul{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}

header>nav>ul>a>li{
    font-size: 20px;
    color:var(--dark);
}

header>nav>ul>a{
    padding: 20px 100px;
}
header>nav>ul>a:hover>li{
   color:var(--light); 
}

header>nav>ul>a:hover{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--blue);
    
}

main{
    margin: 30px 15% 100px;
    height: calc(100vh - 20vh - 146px);
}

footer{
    width: 100%;
    height: auto;
    background-color: var(--dark);
    position: fixed;
    bottom: 0;
    margin-top: 30px;
    z-index: 10;
}

button {
    cursor: pointer;
}

div.PopUp {
    display: none;
    background-color: var(--dark);
    border: 5px double var(--blue);
    color: var(--light);
    position: absolute;
    z-index: 10;
    font-size: 14px;
    width: 200px;
    padding: 20px;
    padding: 20px;
    button {
        background-color: var(--light);
        font-family: 'Coolvetica';
        color: var(--dark);
        border: 2px solid var(--pink);
    }
    #TitlePopUp {
        /* red */
        color: greenyellow; 
        font-size: 25px;
        padding: 0px;
        margin: 0px;    
    }
    button:hover {
        color: var(--light);
        background-color: var(--pink);
    }
}

.error {
    color: red;
}

footer>p{
    margin: 10px;
    text-align: center;
    padding: 5px;
    color:var(--light);
}


button.options {
    width: fit-content;
    height: fit-content;
    font-size: 100%;
    font-weight: bold;
    color: var(--light);
    background-color: var(--dark);
    border: 2px solid var(--blue);
    border-radius: 0.5vh;
    margin: 0 auto;
    margin-top: 1vh;
    padding: 0.5vh 1.2vh;
}

button.options:hover {

    background-color: var(--blue);
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}

