
/*
COLORS
DARK BLUE: #555B6E
MEDIUM BLUE: #89B0AE
LIGHT BLUE: #BEE3DB
WHITISH BLUE (BASE): #FAF9F9
PINK: #FFD6BA
*/

div.form {
    display: none;
    position: relative;
    width: fit-content;
    border: 3px #555B6E solid;
    border-radius: 8px;
    padding: 15px;
    background-color: #89B0AE;
    margin: 0 auto;
    div.option {
        display: flex;
        flex-direction: column;
        text-align: center;
        div.title-container {
            padding: 1vh 0px;
            display: flex;
            flex-direction: column;
            width: fit-content;
            margin: 0 auto;
            label.title {
                padding-right: 1vh;
                text-align: cetner;
                color: #555B6E;
                font-size: 2.5vh;
                font-weight: bold;
                letter-spacing: 0.8px;
            }
            label.title-txt {
                padding-top: 0.5vh;
                padding-right: 1vh;
                text-align: center;
                color: #555B6E;
                font-size: 1.5vh;
                font-weight: bold;
                letter-spacing: 0.8px;
            }
        }
    }
}


button.options {
    width: fit-content;
    height: fit-content;
    font-size: 100%;
    font-weight: bold;
    color: #BEE3DB;
    background-color: #6A7C7A;
    border: 2px solid #8f98b9;
    border-radius: 0.5vh;
    margin: 0 auto;
    margin-top: 1vh;
    padding: 0.5vh 1.2vh;
}

button.options:hover {
    color: #BEE3DB;
    background-color: #555B6E;
    cursor: pointer;
}