main {
    text-align: center;
}

section#sectionDetails {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    color: #555B6E;
    border: 5px double #555B6E;

    .usualDataContainer {
        display: flex;
        .dataContainer {
            margin: 0px 20px 10px;
        }
    }

}

section#sectionUpdate {

    position: absolute;
    left: 10%;

}

button.options {
    width: fit-content;
    height: fit-content;
    font-size: 100%;
    font-weight: bold;
    color: #BEE3DB;
    background-color: #6A7C7A;
    border: 2px solid #8f98b9;
    border-radius: 0.5vh;
    margin: 0 auto;
    margin-top: 1vh;
    padding: 0.5vh 1.2vh;
}

button.options:hover {
    color: #BEE3DB;
    background-color: #555B6E;
    cursor: pointer;
}

header>div>h1{
    margin: 0 auto;
    padding-top: 3vh;
    text-align: center;
    color:#555B6E;
    font-size: 4vh;
    cursor: pointer;
}

div.PopUp {
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-container {
    margin: 0 auto;
}

a.categoryHover:hover {
    color: black;
}