main>section>a {
    border: 4px double var(--dark);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 15px 10px 5px;
    width: 200px;
}

main>section>a>div>.imagen {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #849cae5b;
    width: 100%;
}

main>section>a>div>p {
    color: var(--dark);
}

main>section>a:hover {
    box-shadow: 1px 2px 32px 7px rgb(253, 255, 255);
}

main {
    display: flex;
    text-align: center;
    justify-content: center;
    height: fit-content !important;

    section.ListSection {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    section.createSection {
        width: 20%;
        margin: 0 auto;
        position: absolute;
        left: 0;
    }

    a {
        position: relative;

        i.remove {
            position: absolute;
            margin: 10px;
            right: 0;
        }
    }

    button.crCategory-btn {
        margin: 30px 10px 5px;
        width: 5vw;
        height: 5vh;
        left: 0;
        font-family: Coolvetica;
        background-color: var(--pink);
        color: var(--light);
        border: 4px double var(--pink);
        border-radius: 9px;
        font-size: 2.5vh;
        /*color: #89B0AE;
        background-color: var(--dark);*/
    }

    button.crCategory-btn:hover {
        background-color: var(--light);
        color: var(--pink);
        border: 4px double var(--pink);
        box-shadow: 1px 2px 32px 7px rgb(253, 255, 255);
    }
}

main {
    section {
        a.song {
            height: 100px;

            div {
                .imagen {
                    height: 60px;
                }

                p {
                    margin-top: 10px;

                }
            }
        }

        a.category {
            height: 200px;

            div {
                .imagen {
                    height: 150px
                }
            }

        }
    }
}


.form.category {
    left: 15%;
}

.form.song {
    z-index: 4;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

div.form {
    display: none;
    width: fit-content;
    border: 3px var(--dark) solid;
    border-radius: 8px;
    padding: 15px;
    background-color: var(--pink);
    margin: 5vh auto 0;
    height: fit-content;

    position: absolute;


    i {
        color: var(--light);
        position: absolute;
        right: 10px;
        cursor: pointer;
    }

    div.option {
        display: flex;
        flex-direction: column;
        text-align: center;

        div.input-container {
            padding: 1vh 0px;
            display: flex;
            flex-direction: column;
            width: fit-content;
            margin: 0 auto;

            label.input-name {
                text-align: center;
                padding-right: 1vh;
                color: var(--dark);
                font-size: 2.5vh;
                font-weight: bold;
                letter-spacing: 0.8px;
                margin-bottom: 5px;
            }

            input ,select{
                color: #FAF9F9;
                background-color: var(--dark);
                border-radius: 0.4vh;
                padding: 0.5vh;
                width: 20vh;
            }

            input::placeholder {
                font-size: 1.5vh;
                color: #faf9f9a0;

            }
        }
    }
}

div.PopUpDelete {
    display: none;
    background-color: var(--dark);
    border: 5px double #89B0AE;
    color: #BEE3DB;
    position: absolute;
    z-index: 10;
    font-size: 14px;
    width: 200px;
    padding: 20px;

    button {
        background-color: #BEE3DB;
        font-family: 'Coolvetica';
        color: var(--dark);
        border: 2px solid #89B0AE;
    }

    #TitlePopUp {
        /* red */
        color: red;
        font-size: 25px;
        padding: 0px;
        margin: 0px;
    }

    button:hover {
        color: #BEE3DB;
        background-color: var(--dark);
    }

    #noDelete {
        color: white;
        background-color: green;
    }

    #yesDelete {
        color: white;
        background-color: red
    }

    #yesDelete:hover {
        background-color: white;
        color: red;
    }

    #noDelete:hover {
        color: green;
        background-color:  white;
    }
}

.removeBTN::before {
    z-index: 2;
    position: absolute;
    right: 10px;
    margin-right: 5px;
    color: var(--dark);
    height: 16px;
}

.removeBTN:hover::before {
    box-shadow: 1px 2px 32px 7px rgb(253, 255, 255);
}

.category.removeBTN::before {
    margin-top: 18px;
}

.song.removeBTN::before {
    margin-top: 12px;
}